@use "../../../styles/variables" as *;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 19px;
    border-radius: 99px;
    border: 1px solid;
    color: $color-primary;
    border-color: $color-primary;
    text-decoration: none;
    background: transparent;
    transition: 0.2s;
    &:hover {
        color: #fff;
        background: $color-primary;
    }
}
