// Colors
$color-primary: #0935FE;
$text-primary: #231F20;

// Fonts
$font-family-base: var(--font-montserrat), sans-serif;

// Typography
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 32px;
$font-size-xl: 40px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$line-height-base: 1.5;

// Spacing
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 48px;
$spacing-xl: 60px;
$spacing-2xl: 120px;


// Breakpoints
$bp-mobile: 600px;
