.main {
    display: flex;
    flex-direction: column;
    background-image: url("/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 215px 0px;
    }
    &__title {
        font-weight: medium;
        color: #fff;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
        margin-bottom: 10px;
    }
    &__subtitle {
        color: #fff;
        font-size: 18px;
        text-align: center;

        line-height: 30px;
        margin-bottom: 45px;
    }
    &__text {
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        margin-top: 16px;
        text-align: center;

    }
        @media (max-width: 768px) {
        &__title {
            font-size:34px ;
        }

    }
}
